<div class="container-fluid">
    <div class="row" style="margin-top: 100px;">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="jumbotron">
                <h1 class="display-3">Welcome to Local Homes 4 Sale</h1>
                <p class="lead">Whether you are in the market for selling or buying a property, you have come to the right palce.</p>
                <hr class="my-4">
                <p>Go ahead and sign up to access all the features this app offers. Once you are logged in, you can add your own listing, checkout other active listings and also contact the listing provider directly to take the next step.</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="<%= properties_path %>" role="button">Check out listings</a>
                    <a class="btn btn-danger btn-lg" href="<%= new_user_path %>" role="button">Sign up</a>
                    <a class="btn btn-danger btn-lg" href="<%= new_session_path %>" role="button">Log in</a>
                </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
<%= render 'layouts/partials/footer' %>
</div>