<h1>Welcome <%= @user.name %> !</h1>

<button>
    <%= link_to 'Edit Account', edit_user_path(@user) %>
</button>

<button>
        <%= link_to 'Delete Account', new_user_path, data: {confirm: "Are you sure?"}, method: :delete %>
</button>
