@import "bootstrap";

.bg_image {
    background-image: image-url('background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#welcomeDashboard {
    p {
        a {
            color: black;
        }
    }
}