<!DOCTYPE html>
<html>
  <head>
    <title>LocalHomes4SaleApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1>LocalHomes4Sale</h1>
      <hr>
    </div>
    <%= yield %>
  </body>
</html>
